# zsh
\.zcompdump

# Emacs packages
eln-cache/
elpa/
transient/
emacs/\.config/emacs/\.org-id-locations
emacs/\.config/emacs/bookmarks

# org-mode & org-roam
org-roam.db

# mpd
mpd/\.config/mpd/pid

# ncmpcpp
ncmpcpp/.config/ncmpcpp/error.log

# neovim
neovim/\.config/nvim/plugin/
neovim/\.local/share/nvim/*
!neovim/\.local/share/nvim/site/

neovim/\.local/share/nvim/site/pack/packer/start/*
!neovim/\.local/share/nvim/site/pack/packer/start/packer\.nvim/

